footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8e705d;
    color: #fff;
    width: 100%;
    padding: 2vw 0;
}

.footer__horarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__horarios__horario {
    margin-bottom: 5px;
}

.footer__redes {
    display: flex;
    flex-wrap: wrap ;
}

.footer__redes__red {
    margin: 0 10px;
}

.footer__redes__red > a {
    padding: 10px;
    transition: color .3 ease;
}

.footer__redes__red > a:hover {
    color: #ff9f68;
}

.footer__copyright {
    display: flex;
    align-items: center;
}

@media (max-width: 1300px) {
    footer {
        flex-direction: column;
        padding: 5vw;
        gap: 20px;
    }
}