header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #a34749;
    padding: 20px;
}

h1 {
    color: #fff;
    font-size: 2rem;
}

.header__logo {
    width: 5vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav__list {
    display: flex;
    gap: 20px;
}

.nav__a {
    padding: 10px 20px;
    background-color: #b35154;
    border-radius: var(--button-border-radius);
    transition: background-color 0.3s ease, opacity 0.5s ease;
    font-size: 1.125rem;
    cursor: pointer;
}

.nav__a:hover {
    background-color: #ff9f68;
}

.nav__a--contacto {
    background-color: var(--call-to-action-background-color);
}

.nav__a--contacto:hover {
    background-color: var(--call-to-action-background-color--hover);
}

.nav__a--active {
    background-color: #ff9f68;
    font-weight: bold;
    color: white;
}

.menu-toggle {
    display: none;
}

.menu-toggle__line {
    display: block;
    background-color: white;
    height: 5px;
    width: 40px;
    margin-bottom: 10px;
}

.menu-toggle__line:last-child {
    margin-bottom: 0;
}

#burger-menu {
    display: none;
}

@media (max-width: 1300px) {
    h1 {
        font-size: 1.5rem;
    }

    .nav__list {
        gap: 10px;
    }
    
    .nav__a {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .header__logo {
        width: 10vw;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #a34749;
        padding: 20px;
        z-index: 999;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    .nav__item {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .nav__a {
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .menu-checkbox:checked + .menu-toggle + .nav__list {
        max-height: 500px;
        opacity: 1;
    }

    .menu-checkbox:checked + .menu-toggle + .nav__list .nav__a {
        opacity: 1;
    }
    
    .menu-toggle {
        display: inline-block;
        cursor: pointer;
    }
}